footer{
    background-color: black;
    width: 100vw;
    position: relative;
    bottom: 0;
    color: #fff;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    
    
}
.icons__rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.75rem;
    width: 100%;
    gap: 0.85rem

}

.texto__rodape{
    color: #FED700;
    font-family: 'Roboto', sans-serif;
}

.conteiner__footer{
    padding: 1rem 0.5rem 1rem 0.5rem; 
}

.logo__footer{
    width: 3rem;
    padding: 1rem;
}



