.formulario{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formulario__mensagem__question{
        font-family: 'Roboto Condensend', sans-serif;
        font-size: 1.5rem;
        padding: 0 0 2.5rem 0;
}

.formulario__question__campo{
    width: 100%;
    height: 10rem;
    border-radius: .625rem;
    padding: 0.5rem;
    margin: 0 10% 0 10%;


}

.botao__enviar{
    margin: 2.31rem 0 2.31rem 0;
    width: 100%;
    height: 4rem;
    text-align: center;
    vertical-align: center;
    border-radius: 0.625rem;
    color: #fff;
    font-family: 'Roboto Condensend', sans-serif;
    background-color: #ADCA38;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;


}

.botao__enviar:active{
    background-color: darkcyan;
    
}

@media screen and (min-width: 1024px){

    .formulario__mensagem__question{
        margin: 0 10.625rem 0 10.6265rem;

    }
        
    .formulario__question__campo{
        width: 41.937rem;
        height: 11.125rem;
       
    }

    .botao__enviar{
        width: 41.937rem;
    
    
    }

}


@media screen and (min-width: 1500px){

    .formulario__mensagem__question{
        margin: 0 20rem 0 20rem;
    }
        
}