/*Estilo dos botões do score*/

.secao__nota__score__botao{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 0 2rem 0;
    gap: 0.125rem;
   


}

.secao__nota__score__botao a{
    text-decoration: none;
}


.secao__nota__score__item{
    display: flex;
    flex-wrap: wrap;
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 0.3125rem;
    align-items: center;
    justify-content: center;
    text-align: center;



}

.secao__nota__score__item:hover{
    background-color: darkcyan;
    
}

.secao__nota__score__item:active{
    background-color: darkcyan;
    
}
.texto__score{
    color: white;
    font-family: 'Roboto', sans-serif;
}

.btn-0{
    background-color: #D52029;
}



.btn-1{
    background-color: #B72421;
}

.btn-2{
    background-color: #E95223;
}

.btn-3{
    background-color: #EA7129;
}

.btn-4{
    background-color: #F6A726;
}

.btn-5{
    background-color: #FDC729;
}

.btn-6{
    background-color: #EBDB0A;
}

.btn-7{
    background-color: #E5E044;
}

.btn-8{
    background-color: #C2D234;
}

.btn-9{
    background-color: #ADCA38;
}

.btn-10{
    background-color: #66B44E;
}

@media screen and (min-width: 1024px) {


    .secao__nota__score__item{
        width: 4.375rem;
        height: 4.375rem;
        margin: 0.25px;
    
    }
    .texto__score{
       font-size: 2.1875rem;
    }
    
}